django version 2.1.5

how to install django?

Linux:
	1. open your terminal and run
	
		sudo pip install Django
		
	2. or if you want to install on py3, run
	
		sudo pip3 install django
		
Windows:
	1. open your command prompt and run
	
		pip install django
		
Mac os:
	1. sudo pip install django
